<head> 
    <!--aqui vai os links da fonte -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Beth+Ellen&family=Spectral:wght@500;600&display=swap" rel="stylesheet">
    <title>Healthy</title>
    <style>
        * {
            margin: 0;
            box-sizing: border-box;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        }
        body {
            color: #ebf1fb;
            text-align: center;
            font-family: 'Spectral', serif;
            background: url(https://i.ibb.co/n7qLwzv/background-image-1.jpg)
        no-repeat center/cover;
            height: 100vh;
            display: grid; /*transforma toda primeira tag dentro do body */
            place-content: center; /*coloque o conteudo ao centro*/
        } 
        h1{
            text-align: center;
            font-weight: 400;
            font-size: 64px;
            line-height: 120px;
            font-family: 'Beth Ellen', cursive;
        }
        h1 span{
            color: #23a3f8;
        }
        a{
            color: #ebf1fb;
            padding: 10px 32px;
            font-weight: 600;
            font-size: 24px;
            line-height: 24px;
        }
        p{
            font-size: 20px;
            font-weight: 500;
            line-height: 30px;
            margin-bottom: 72px;
        }
        a:hover,
        .btn-primary {
            background: #23a3f8;
            border-radius: 8px;
            color: #0b0c0e;
            text-decoration: none;
        }
        footer {
            padding-top: 60px; /* Altura da div que vem antes do footer */
        }
    </style>
</head>